affine==2.4.0
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267521616/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560537656/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
click-plugins==1.1.1
cligj==0.7.2
cmdstanpy==1.2.5
contextily==1.6.2
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1731428322248/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1743732244636/work
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1735929639977/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
holidays==0.70
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459246621/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219666454/work
matplotlib==3.10.1
mercantile==1.2.1
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1744031363948/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1742254822528/work/dist/numpy-2.2.4-cp313-cp313-macosx_10_13_x86_64.whl#sha256=101441bd8a54beb8d06c36fd8b9738a2ab76b12423aafead5c79f3151e7b160c
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878438865/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929727323/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
plotly==6.0.1
prophet==1.1.6
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1741124607046/work/bazel-bin/python/dist/protobuf-5.29.3-cp313-abi3-macosx_10_13_x86_64.whl#sha256=4312f4354ee252dfd0ffbeaed7dfdaccf4510789fc31a6abeeb6f59a670a96f0
pyarrow==19.0.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
pyogrio==0.10.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
pyproj==3.7.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454757830/work
rasterio==1.4.3
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rpds-py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_rpds-py_1743037524/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1736496843792/work/dist/scikit_learn-1.6.1-cp313-cp313-macosx_10_13_x86_64.whl#sha256=6890478478d831a533a77b285f489272f2aac7e427f65a6ddfdc6f8338f2870a
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1739790687553/work/dist/scipy-1.15.2-cp313-cp313-macosx_10_13_x86_64.whl#sha256=1813106576cfdd0d021a93bc254eab4176e303f73f4bca019a175e80b7082686
setuptools==78.1.0
shapely==2.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
stanio==0.5.1
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1743609969575/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1743640740204/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615916717/work
tqdm==4.67.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1743820059/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1730492981599/work
xyzservices==2025.1.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
